@import "./partials/colors.scss";

.navbar {
  display: none;
}

.tabbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(102, 102, 102, 0.199);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px 0;

  .tabbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;

    & li.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $white;
      padding: 12px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
    }

    & a {
      text-decoration: none;
      color: $white;
    }
  }
}

.button-white-outline {
  display: flex;
  text-decoration: none;
  color: $white;
  border: 1px solid $white;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $white;
    color: $dark;
  }

  &.active {
    background: $white;
    color: $dark;
  }
}
