@import "./partials/animation.scss";
@import "./partials/colors.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $dark;
  color: $white;
  position: relative;
  padding-bottom: 120px;

  &::after {
    position: fixed;
    content: "";
    top: -50%;
    left: 0;
    width: 800px;
    height: 800px;
    border-radius: 1000px;
    background-color: rgb(129, 0, 0);
    opacity: 60%;
    filter: blur(200px);
    z-index: -1;
    animation: breathing 5s ease-out infinite normal;
  }
}

.container {
  max-width: 300px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}
