* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a1a1a;
  padding-bottom: 120px;
}

.container {
  max-width: 320px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}

.navbar {
  display: none;
}

.tabbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(102, 102, 102, 0.199);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 24px 0;
}

// Landing
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-paragraph {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 24px;
  }
}

.mylogo {
  width: 160px;
  border-radius: 100%;
}
