/* Navbar */
.center {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-top: 30px;
  z-index: 1;
  background-color: transparent;
}
.navbar {
  display: flex;
  position: fixed;
  width: 50%;
  border-radius: 10px;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 100%;
}

.navbar a {
  color: #ffff;
  font-size: 18px;
  padding: 30px;
  text-decoration: none;
}

/* Main Content */
#main {
  background-color: gray;
  height: 100vh;
  z-index: 0;
}

.main-content {
  padding-top: 12%;
  padding-left: 15%;
  padding-right: 15%;
}

#about {
  background-color: aqua;
}

@media screen and (max-width: 768px) {
  /* Navbar Responsive */
  .navbar {
    bottom: 0;
    margin-bottom: 30px;
    width: 80%;
  }
  .navbar ul {
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: -100%;
    justify-content: space-evenly;
    background-color: #222831;
    transition: 0.5s;
  }

  .navbar ul.active {
    top: 0;
    height: 100vh;
    transition: 0.5s;
  }
}
