.margin-page {
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 42px;
  color: white;
}

/* Navbar */
.center {
  display: flex;
  position: relaitve;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-top: 30px;
  z-index: 1;
  background-color: transparent;
}
.navbar {
  display: flex;
  position: fixed;
  width: 50%;
  border-radius: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}

.navbar ul.mobile {
  display: none;
}

.navbar a {
  color: #ffff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.navbar a:hover {
  font-size: 22px;
  transition: 0.5s;
}

.navbar a.active {
  font-size: 22px;
}

/* Main Content */
#main {
  display: flex;
  flex-direction: row;
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  overflow-y: hidden;
}

.main-content {
  padding: 5%;
  justify-content: space-between;
}

.main-content p {
  color: white;
  font-weight: 400;
  font-size: 32;
}

.paragraph {
  width: 60%;
}

.logo {
  width: 200px;
}

/* About Content */
#about {
  display: flex;
  flex-direction: row;
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}

.about-container {
  padding-bottom: 10%;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-description {
  display: flex;
  flex-direction: column;
  color: white;
  width: 70%;
}

.about-item {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.education-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.education-list {
  margin-top: 12px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  color: white;
  flex-grow: 2;
}

/* Contact Content */
.contact-container {
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.contact-description {
  color: white;
  margin-top: 24px;
}

.contact-item {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.contact-value {
  margin-left: 8px;
  text-decoration: none;
  color: white;
}

/* Career Content */
.career-container {
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.career-content {
  margin-top: 32px;
  color: white;
}

/* Project Content */
.project-container {
  max-width: 1400px;
  background-color: aqua;
  margin: 0 auto;

  .project-content {
    gap: 1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    flex-wrap: wrap;
    margin-top: 32px;
    background-color: gray;
    justify-content: flex-start;
    


      .project-card {
        padding: 12px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        color: white;
      }
    }
  

}





.project-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .spacer {
    margin-top: 24px;
  }

  /* Navbar Responsive */
  .navbar {
    bottom: 0;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
  }
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar ul.desktop {
    display: none;
  }

  .navbar ul.mobile {
    display: flex;
  }

  /* Main Responsive */
  #main {
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: -20px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .main-content p {
    text-align: center;
    font-size: 32;
  }
  .logo {
    width: 150px;
    padding: 2px;
  }
  .paragraph {
    width: 100%;
  }

  /* About Responsive */
  .about-container {
    padding-bottom: 40%;
  }

  #about {
    margin-top: -8%;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .about-description {
    width: 100%;
    text-align: center;
  }
  .about-item {
    margin-top: 20%;
    flex-direction: column;
  }

  .skills-container {
    margin-top: 30px;
    margin-left: 0px;
  }

  /* Contact Responsive */
  #contact {
    margin-top: -8%;
  }

  .contact-description {
    margin-top: 32px;
  }

  /* Career Responsive */
  #career {
    margin-top: -8%;
  }
}
